{% extends "layout.html" %}

{% block content %}
    <div class="content-section">
        <form action="" method="POST" enctype="multipart/form-data">
            {{ form.hidden_tag() }}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">Add new supermarket</legend>
                <div class="form-group">
                    {{ form.supermarket_name.label(class="form-control-label") }}
                    {% if form.supermarket_name.errors %}
                        {{ form.supermarket_name(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.supermarket_name.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>

                    {% else %}
                    {{ form.supermarket_name(class="form-control form-control-lg") }}
                    {% endif %}
                </div>
                <div class="form-group">
                    {{ form.supermarket_location.label(class="form-control-label") }}
                    {{ form.supermarket_location(class="form-control form-control-lg") }}
                </div>
                <div class="form-group">
                    {{ form.supermarket_image.label(class="form-control-label") }}
                    {{ form.supermarket_image() }}
                </div>
            </fieldset>
            <div class="form-group">
                {{ form.submit(class="btn btn-primary my-2") }}
            </div>
        </form>
    </div>
{% endblock content %}