{% extends "layout.html" %}

{% block content %}
<div class="content-section">
    <form action="" method="POST" enctype="multipart/form-data">
        {{ form.hidden_tag() }}
        <fieldset class="form-group">
            <legend class="border-bottom mb-4">Add new product</legend>
            <div class="form-group">
                {{ form.product_name.label(class="form-control-label") }}
                {% if form.product_name.errors %}
                    {{ form.product_name(class="form-control form-control-lg is-invalid") }}
                    <div class="invalid-feedback">
                        {% for error in form.product_name.errors %}
                            <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                {% else %}
                    {{ form.product_name(class="form-control form-control-lg") }}
                {% endif %}
            </div>
            <div class="form-group">
                {{ form.product_description.label(class="form-control-label") }}
                {{ form.product_description(class="form-control form-control-lg") }}
            </div>
            <div class="form-group">
                {{ form.product_price.label(class="form-control-label") }}
                {% if form.product_price.errors %}
                    {{ form.product_price(class="form-control form-control-lg is-invalid") }}
                    <div class="invalid-feedback">
                        {% for error in form.product_price.errors %}
                            <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                {% else %}
                    {{ form.product_price(class="form-control form-control-lg") }}
                {% endif %}
            </div>
            <div class="form-group">
                {{ form.product_image.label(class="form-control-label") }}
                {{ form.product_image() }}
            </div>
        </fieldset>
        <div class="form-group">
            {{ form.submit(class="btn btn-primary my-2") }}
        </div>
    </form>
</div>
{% endblock content %}
